<h1>ログイン中</h1>
<p>-- INDEX --</p>
<a style='text-decoration: none; color: #333366' href='/home'>home.ejsのページへ</br></a>
<a style='text-decoration: none; color: #333366' href='/extra'>extra.ejsのページへ</a>
<form style='margin: 2em;' method='post' action='/logout'>
  <button style='background: #333366; color: white;'>ログアウト</button>
</form>
